.frame {
  width: 100%;
  padding: 0 1rem 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #80808008;
}

.split {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}

.col {
  grid-column: 1;
  display: inline-block;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1.8rem;
  text-align: left;
  list-style-type: '✅';
  & > li {
    padding-left: 0.5rem;
  }
  &_negative {
    grid-column: 2;
    list-style-type: '❌';
  }
}

.pan {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
